.block.socialcontent.align {
  clear: both;

  &.left {
    .rsme-embed {
      float: left;
      margin: 0 1rem 1rem 0 !important;
    }
  }

  &.right {
    .rsme-embed {
      float: right;
      margin: 0 1rem 0 1rem !important;
    }
  }

  &.center,
  &.full {
    display: flex;
    justify-content: center;
  }
}

